/* Reset CSS */
/* In your main CSS file */
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 100px;
    
}

.footer-section {
    border-radius: 50px;
    flex: 1;
    padding: 20px;
    margin-right: 150px;

    
}

.footer-logo {
    width: 100px;
    height: 80px;
    margin-bottom: 20px; 

}

.footer-section h3 {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.footer-section p {
    line-height: 1.6;
}

.subscribe {
    margin-top: 20px;
}

.subscribe h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.subscribe-input {
    display: flex;
    align-items: center;
}

.subscribe-input input {
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    flex: 1;
}

.subscribe-input button {
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: #5f7e21;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-input button:hover {
    background-color: #334833;
}
.footer-section h2{
    margin-left: 70px;
    font-size: 30px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: start;
    margin-left: 70px;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
    font-family: 'Arial', sans-serif;

}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .fas {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 1.5em;
    margin: 10px auto;
}
.footer-section-contact{
    margin-top: 72px;
    font-size: x-large;
    width: 600px;
    font-family: 'Arial', sans-serif;

}
.green{
    color: #5f7e21;
}

@media screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        padding: 10px 0;
        text-align: center;
        margin-left: 150px;
    }

    .subscribe-input input {
        width: 300px;
        border-radius: 5px;
        margin: 15px 0;
        border-bottom: 1px solid grey;
    }
    .subscribe-input button {
        width: 150px;
        border-radius: 50px;
        margin: 5px 0;
    }

    .subscribe-input {
        flex-direction: column;
        
    }
    .footer-section ul {
        margin-bottom: 60px;
        border: none;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 30px;


    }
    .footer-section ul li a{
        text-align: center;
        border: none;
        color: orange;
    }
    .footer-section ul li a:hover{
        text-align: center;
        border: none;
        color: green;
        text-decoration: none;
    }
    .footer-section-contact{
        margin-top: 20px;
        font-size: large;
        width: 600px;
        font-family: 'Arial', sans-serif;
    
    }
    .importLinks{
        padding-right: 60px;
        margin-bottom: 10px;
        margin-top: 20px;
        width: 300px;
    }
}
